.header {
    height: 76px;
    padding: 12px;
    margin-bottom: unset !important;
    border: 1px solid rgba(0, 0, 0, 0.18);
    background: rgba(0, 0, 0, 0.11);
}

@media (min-width: 900px) {
    .go-home-wrap {
        display: none !important;
    }

    .header {
        border: none;
        background: none;
    }

    .logo {
        position: absolute;
        display: block;
        width: 10%;
        height: 60px;
    }

    .go-back-wrap {
        height: 60px;
    }

    .logo .go-back-btn {
        margin: 0px !important;
        margin-top: 5px !important;
    }

}

.header {
    height: 50px;
    padding: 0px;
    padding-bottom: 10px;

    .logo {
        height: 100%;
        text-align: center;
        display: flex;
        align-items: center;

        .go-back-wrap {
            height: 100%;
            display: inline-table;
            align-content: center;
            width: 55px;

            .go-back-btn {
                opacity: 1 !important;
                font-size: 45px;
                width: 55px;
                color: #fff;
                margin: 22px 0px;
            }
        }

        .go-home-wrap {
            display: flex;
            text-align: center;
            padding-right: 55px;
            width: calc(100% - 55px);


            .simple-text {
                margin: auto;

                .logoSmall {
                    margin-top: -2px;
                }
            }
        }
    }
}